* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}


input[type=submit] {
background-color: #1c1d20;
color: white;
width: 180px;
padding: 10px 30px;
border: none;
border-radius: 6px;
cursor: pointer;
margin: 8px;
}

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #edf0f1;
}

h2, h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #edf0f1;
    background-color: #404146;
    padding-top: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #edf0f1;
    background-color: #404146;
    padding-top: 6px;
}

li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

img {
    width: 90%;
    margin-left: 5%;
    padding-top: 6px;
    background-color: #404146;
    justify-content: center;
}

.flex-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.flex-container > div {
width: 580px;
margin: 10px;
text-align: center;
line-height: 30px;
font-size: 100%;
}

.flex-container1 {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
background-color: #1c1d20;
}

.flex-container1 > div {
/*background-color: #586568;*/
background-color: #404146;
width: 580px;
margin: 10px;
text-align: left;
line-height: 30px;
/*font-size: 18px;*/
font-size: 100%;
}

.flex-container1 li {
    background-color: #404146;
}

.flex-container2 {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
background-color: #1c1d20;
}

.flex-container2 > div {
/*background-color: #586568;*/
background-color: #404146;
width: 280px;
margin: 10px;
text-align: left;
line-height: 30px;
/*font-size: 18px;*/
font-size: 100%;
}

.flex-container2 li {
    background-color: #404146;
}

/* for small screens (smartphones)*/
@media screen and (min-width: 0px) {
    .flex-container1, .flex-container2 {
        /*background-color: darkcyan;
        color: white;*/
        background-color: white;
        color: #1c1d20;
        justify-content: center;
    }

    header, h1, li, a, .nav_links {
        /*background-color: rgb(0, 88, 88);*/
        background-color: #edf0f1;
        color: #1c1d20;
    }

    h3, p {
        background-color: white;
        color: #1c1d20;
    }

    .flex-container, .flex-container > div, .flex-container form {
        flex-direction: column;
        background-color: white;
    }

    .flex-container1 > div, .flex-container1 > div ul, .flex-container1 > div li, .flex-container1 img, .flex-container2 > div li {
        background-color: white;
    }

    .flex-container1 > div a {
        background-color: white;
        text-decoration: underline;
    }

    .flex-container2 > div {
        width: 580px;
        background-color: white;
        color: #1c1d20;
    }

    .flex-container2 > div ul {
        margin-left: 5%;
        background-color: white;
        color: #1c1d20;
    }

    .flex-container2 img {
        margin-left: 40%;
        background-color: white;
        color: #1c1d20;
    }
}

/* for large screens (desktop)*/
@media (min-width: 800px) {
    .flex-container1, .flex-container2 {
        background-color: #1c1d20;
        color: white;
    }

    header, h1, li, a, .nav_links {
        background-color: #24252a;
        color: white;
    }

    h3, p {
        background-color: #404146;
        color: white;
    }

    .flex-container, .flex-container > div, .flex-container form {
        flex-direction: row;
        background-color: #404146
    }

    .flex-container1 > div, .flex-container1 > div ul, .flex-container1 > div li, .flex-container1 img, .flex-container2 > div li {
        background-color: #404146
    }

    .flex-container1 > div a {
        background-color: #404146;
        text-decoration: underline;
    }

    .flex-container2 > div {
        width: 280px;
        background-color: #404146
    }

    .flex-container2 > div ul {
        margin-left: 10%;
        background-color: #404146
    }

    .flex-container2 img {
        margin-left: 95px;
        background-color: #404146
    }
}