* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}


.top-container {
/*background-color: #f1f1f1; */
padding: 4px;
text-align: center;
}

.flex-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: #1c1d20;
}

.flex-container > div {
/*background-color: #586568;*/
background-color: #1c1d20;
width: 580px;
margin: 10px;
text-align: center;
line-height: 30px;
/*font-size: 18px;*/
font-size: 100%;
}

input[type=submit] {
/*background-color: #586568;*/
background-color: #1c1d20;
color: white;
width: 180px;
padding: 10px 30px;
border: none;
border-radius: 6px;
cursor: pointer;
/*float: right;*/
margin: 8px;
/*margin: 10px 45px;*/
}

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #edf0f1;
}

h2, h3 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #edf0f1;
    background-color: #404146;
    padding-top: 12px;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #edf0f1;
    background-color: #404146;
    padding-top: 6px;
}

li, a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

img {
    width: 90%;
    margin-left: 5%;
    padding-top: 6px;
    background-color: #404146;
    justify-content: center;
}

.flex-container1 {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
background-color: #1c1d20;
}

.flex-container1 > div {
/*background-color: #586568;*/
background-color: #404146;
width: 580px;
margin: 10px;
text-align: left;
line-height: 30px;
/*font-size: 18px;*/
font-size: 100%;
}

.flex-container1 li {
    background-color: #404146;
}

.flex-container2 {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
background-color: #1c1d20;
}

.flex-container2 > div {
/*background-color: #586568;*/
background-color: #404146;
width: 280px;
margin: 10px;
text-align: left;
line-height: 30px;
/*font-size: 18px;*/
font-size: 100%;
}

.flex-container2 li {
    background-color: #404146;
}

input[type=text], textarea {
width: 85%;
padding: 12px 20px;
margin: 4px 0;
box-sizing: border-box;
}

/*
input[type=submit] {
background-color: #1c6069;
color: white;
padding: 12px 18px;
border: none;
border-radius: 4px;
cursor: pointer;
float: right;
margin: 10px 45px;
} */


/*
@media screen and (min-width: 0px) {
    #heading, .flex-container {
        background-color: rgb(0, 49, 49);
        color: white;
        justify-content: center;
    }
}


@media (min-width: 468px) {
    #heading, .flex-container{
        background-color: rgb(0, 88, 88);
    }
}


@media (min-width: 736px) {
    #heading, .flex-container {
        background-color: darkcyan;
    }
}*/